---
layout: handbook-page-toc
title: "People Operations, Technology & Analytics Team"
description: "GitLab People Operations, Technology & Analytics Team Handbook"
---
## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<link rel="stylesheet" type="text/css" href="/stylesheets/biztech.css" />

## Welcome to the People Operations, Technology & Analytics Team Handbook

* Our Mission is to ** **
* Our [Principles](/handbook/people-group/people-ops-tech-analytics/principles) inform how we accomplish our mission.

## People Operations, Technology & Analytics Teams at GitLab

Here are how the team members divide their work and work with each other to ensure the best results:

* The **People Experience Team** is responsible for

* The **People Operations Team**

* The **Employment Solutions Team**

* The **People Compliance Team**

* The **Candidate Experience Team**

* The **Talent Acquisition Analytics Team**

* The **People Engineering Team**


### <i class="fas fa-bullhorn fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>Connect With Us

<div class="flex-row" markdown="0" style="height:80px">
  <a href="https://app.slack.com/client/T02592416/C02360SQQFR" class="btn btn-purple" style="width:30%;height:100%;margin:1px;display:flex;justify-content:center;align-items:center;">#people-connect Slack Channel</a>
  <a href="https://gitlab.com/people/general/-/issues" class="btn btn-purple" style="width:30%;height:100%;margin:1px;display:flex;justify-content:center;align-items:center;">Issue tracker</a>
</div>
<br>

## How We Work

### Responsibilities

The People Operations, Technology & Analytics Team is a Department under the [People](/handbook/people-group) Division.


### Slack

The People Operations, Technology & Analytics Team primarily uses these channels on Slack:

- [#people-connect](https://app.slack.com/client/T02592416/C02360SQQFR) is the primary channel for all of GitLab's People Operations, Employment Solutions, Technology & Analytics conversations. This is where folks from other teams can ask for help, direction, and get general feedback from members of the People Operations, Technology & Analytics Team.

You can also tag subsets of the People Operations, Technology & Analytics Team using:

- @people-exp - this notifies the entire People Experience Team

### GitLab Groups and Projects

The People Operations, Technology & Analytics Team primarily uses these groups and projects on GitLab:

- [GitLab People General](https://gitlab.com/people/general) is the primary project for the GitLab People Operations, Technology & Analytics Team.
- [People Engineering](https://gitlab.com/gitlab-com/people-group/peopleops-eng) this is the group that contains all of the People Engineering projects.

You can tag the People Operations, Technology & Analytics Team in GitLab using:

- @gl-  - this notifies

### People Operations, Technology & Analytics Team Handbook Navigation

- [People Engineering Handbook](/handbook/people-group/engineering/)
